@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
  --main-red: #c5281c;
  --secondary-red: #f1644a;
  --light-gray: #F2F2F2;
}

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.content-container {
  max-width: 1170px;
  margin: 0 auto;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
